<div align = center>
<h2 class="page-header"> WELCOME TO UBUZZ </h2>
<p> Welcome to your dashboard</p>
<!--<script src="/socket.io/socket.io.js"></script> -->
    <script type="text/javascript">

  //var socketio = io.connect('127.0.0.1:3000');

  function login(){
    window.location.href = '/views/login.html';
  };

  function register() {
    window.location.href = '/users/register';
  };
</script>
<body>

<button onclick="login()"> Login </a> </button>
<button onclick="register()"> Register </button>
</body>
</div>
