<script>
  function studentHome(){
    window.location.href='/users/studentHome'
  };

  function lecturerHome(){
    window.location.href='/users/lecturerHome'
  };

</script>
<body align = center>
<h2> Choose mode </h2>
<div align = center>
  <button onclick="studentHome()"> Student mode </button>
  <button onclick ="lecturerHome()"> Lecturer mode </button>
</div>
