<body align = "center">
<script>
  function access(){
    window.location.href='/users/access'
  };
</script>

    <img src="redbutton.png" alt="Red Button" style="width:104px;height:58px;" >
    <h1 align = "center"> Student Home</h1>
    <div align = "center">
        <p> </p>
        <a href="#" class="myButton" onclick ="access()">Join a session</a>
        <br>
        <br>
        <a href='#' class="myButton">Search for a screenshot</a>
    </div>
  </body>
